Cannot place call via jmp.chat bridge

Running latest commit from OBS on Fedora 34: dino-0.2.0~git113.20210601.1ac16ecd-619.1

I can place and receive calls to Conversations 2.9.13.
I can receive calls from jmp.chat.
I cannot place calls to jmp.chat.

The only thing in output is:
```
(dino:6): GStreamer-WARNING **: 15:59:28.702: ../gst/gstpad.c:4621:gst_pad_push_data:<encode-speex-xnum_rtp_depay:src> Got data flow before segment event
(dino:6): GStreamer-WARNING **: 15:59:28.702: ../gst/gstpad.c:4368:gst_pad_chain_data_unchecked:<encode-speex-xnum_speex_decode:sink> Got data flow before segment event
```

Here are my installed gstreamer packages:
```clutter-gst3-3.0.27-5.fc34.x86_64
gst-editing-services-1.18.4-1.fc34.x86_64
gstreamer1-1.18.4-2.fc34.x86_64
gstreamer1-devel-1.18.4-2.fc34.x86_64
gstreamer1-libav-1.18.4-2.fc34.x86_64
gstreamer1-plugin-openh264-1.18.2-1.fc34.x86_64
gstreamer1-plugins-bad-free-1.18.4-1.fc34.x86_64
gstreamer1-plugins-bad-freeworld-1.18.4-3.fc34.x86_64
gstreamer1-plugins-base-1.18.4-1.fc34.x86_64
gstreamer1-plugins-good-1.18.4-2.fc34.x86_64
gstreamer1-plugins-good-gtk-1.18.4-2.fc34.x86_64
gstreamer1-plugins-good-qt-1.18.4-2.fc34.x86_64
gstreamer1-plugins-ugly-1.18.4-1.fc34.x86_64
gstreamer1-plugins-ugly-free-1.18.4-1.fc34.x86_64
gstreamer1-vaapi-1.18.4-1.fc34.x86_64
PackageKit-gstreamer-plugin-1.2.3-1.fc34.x86_64
pipewire-gstreamer-0.3.29-2.fc34.x86_64
python3-gstreamer1-1.18.4-1.fc34.x86_64
```

Indeed, I'm unable to place calls via the JMP bridge too: the UI doesn't show the button to place a call, presumably because the virtual contacts are "offline"

@jscott0
that seems to be a different issue, as the call buttons show for me, it just never rings.

@SkewedZeppelin Thanks for pushing me to try it again. It seems I have to add them to my contacts and then accept the subscription request, then I get the call button. When trying a call I get this output:
```
(dino-im:179144): GStreamer-WARNING **: 15:03:49.209: ../gst/gstpad.c:4621:gst_pad_push_data:<encode-speex-2463478276_rtp_depay:src> Got data flow before segment event
(dino-im:179144): GStreamer-WARNING **: 15:03:49.209: ../gst/gstpad.c:4368:gst_pad_chain_data_unchecked:<encode-speex-2463478276_speex_decode:sink> Got data flow before segment event
(dino-im:179144): xmpp-vala-WARNING **: 15:03:51.730: session.vala:236: Counterpart accepts content with an unexpected `creator`
(dino-im:179144): ice-WARNING **: 15:04:10.091: dtls_srtp.vala:166: DTLS handshake timeouted
(dino-im:179144): ice-WARNING **: 15:04:10.091: dtls_srtp.vala:195: DTLS handshake failed: (unknown error code)
```

Those first two messages match what you had.

jmp.chat had some details about their setup over at https://blog.jmp.chat/b/adventures-in-webrtc-making-phone-calls-from-xmpp-znLOT5 which might be useful for diagnosis.  Changes were made specifically to accommodate Conversations.

We are keen to figure this out. We have spent some time in attempting to debug it, but have not come up with a conclusion yet.  Note that calls work with us in both directions in Conversations, Movim (under firefox and chrome), Siskin, and BeagleIM at least (as well as Gajim, but that does not use DTLS and is a bit different).

If any Dino maintainer or contributor with enough knowledge of the calling code / the WebRTC stack dino uses wants to help debug this, we're happy to provide free JMP service for testing purposes.

I just sent this to the Soprani.ca MUC, which might be helpful for debugging this:
> Hi everyone! I've been playing with getting calls via the Cheogram SIP bridge working with Dino, and I think this might enlighten why Dino fails to work for calls.
I've been using this to do test calls: xmpp:thetestcall\40sip2sip.info@sip.cheogram.com
I've found that if one repeatedly attempts *video* calls, then eventually the call will successfully initiate, the "Calling..." at the top of the window will disappear, and although you may not hear anything, subsequent *audio* calls will work. Some of the messages one may see when trying the video call are
(dino-im:167414): xmpp-vala-WARNING **: 20:31:14.626: content_parameters.vala:158: Counterpart's preferred content type doesn't match any of our sent ones
(dino-im:167414): ice-WARNING **: 20:31:15.004: dtls_srtp.vala:51: SRTP packet failed the message authentication check (2)

> This seems to be much harder to reproduce with the main Cheogram instance for calling out to phone numbers, but it is possible: I've gotten it to work before. I don't know that this clears very much up, but perhaps it will lead others to experiment. For those who want to keep up with developments in this space, check out https://github.com/dino/dino/issues/1072

When being called from Dino, the Cheogram SIP bridge sends a DTLS `<fingerprint>` (in namespace `urn:xmpp:jingle:apps:dtls:0`) node with `setup="actpass"` in `transport-info`. While including a `<fingerprint>` in `transport-info` before `session-accept` is allowed under XEP-0320, the answer must never be `setup="actpass"` (as of [RFC 8842 § 5.3](https://www.rfc-editor.org/rfc/rfc8842.html#name-generating-the-answer) together with [RFC 4145 § 4.1](https://www.rfc-editor.org/rfc/rfc4145.html)).

Later, the bridge sends a DTLS `<fingerprint>` node with `setup="active"` in `session-accept`. This is the expected behavior. However, the bridge never sends the DTLS ClientHello message which it should send as of [RFC 8842 § 5.3](https://www.rfc-editor.org/rfc/rfc8842.html#name-generating-the-answer) after sending `setup="active"`. Instead it sends the audio without encryption. Dino dismisses such RTP packets. The UI is stuck at "Calling..." state, as it waits for the DTLS handshake to complete, which never happens as Dino times out waiting for the DTLS ClientHello message to arrive.

Trying to find out why this happens I noticed in the [source code of the patched asterisk used by Cheogram](https://git.singpolyma.net/asterisk/tree/master/item/channels/chan_motif.c#L2263) a suspicious line, that tries to access a node with name `transport` in the namespace `urn:xmpp:jingle:apps:dtls:0`. The node however is supposed to be named `fingerprint`. It led me to guess that the bridge never actually reads the `<fingerprint>` element.

Further on, for experimental reasons, I removed DTLS support from Dino. If I do so, calls from Dino to Cheogram work just fine. Notably, Cheogram seems to behave exactly the same, i.e. it ignores that Dino does not present a `<fingerprint>` with `setup="actpass"` in `session-initiate`, sends a `<fingerprint>` with `setup="active"` in `session-accept` and sends the actual RTP data without encryption. However, as DTLS is disabled in Dino, Dino ignores the `<fingerprint>` in `session-accept` and considers the connection establishes as unencrypted, thus sends audio and plays the incoming RTP data.

I still don't have a clue why this works with Conversations. Apparently, when called by Conversations, Cheogram will send a DTLS ClientHello message as expected. I will also investigate further with other clients to see if there is anything Cheogram waiting to happen before sending the DTLS ClientHello message which other clients do and Dino doesn't (although Cheogram probably shouldn't send out any unencrypted RTP when it attempts to do a DTLS handshake).

I tested again with Conversations and noticed that roughly the first second of audio data sent from Cheogram is not encrypted. Cheogram basically starts sending RTP packets as soon as the connection is established, not waiting for the DTLS handshake to finish negotiating the SRTP secrets. Same as Dino, Conversations dismisses the unencrypted data and waits for the DTLS handshake to complete before sending data. A malicious network intermediary could prevent the DTLS handshake from succeeding and thus have the audio data from Cheogram transported without encryption - until any of the two call participants hangs up because they don't hear any of transported audio.

Hello! We agree that it looked like the "transport" instead of "fingerprint" thing was a copy-and-paste error, and it turned out to be hiding another error. So, we've changed those and are currently running [this commit](https://git.sr.ht/~psycotica0/asterisk/commit/a0316d474387129a079cd5eb6cf581f568b3b634) instead of master while we investigate.

It doesn't appear to have magically improved anything, but we've confirmed in the logs that we are in that codepath now and seeing some log lines we weren't before. We were seeing something in the log that implied that our ICE was failing to negotiate a second component, which is a bit strange since we both support `rtcp-mux` so I would have expected there to only be one component. I tried hacking something into the side of asterisk to switch the rtp stream to `rtcp-mux` manually, and while that did make the errors go away, it appeared to break incoming calls and not fix outgoing calls, so I took that back out.

We also intend to try running [this revert of an earlier hack](https://git.sr.ht/~psycotica0/asterisk/commit/1c47bb1f71a0fa785733258724332b6d346c2e50) to see if maybe that clears some things up now that the fingerprint stuff is actually running. Haven't gotten around to it yet, but I figured I'd mention it since I'm updating you on status.

Other than that, let us know if you see anything new or different on your end in the meantime.

And thanks very much for looking into this with us!

Thanks for the update.

The only issue that I see now when calling from dino is that you are starting the DTLS handshake before sending the `session-accept`. Strictly speaking that's not illegal, it's just rather unusual (because you typically don't connect before `session-accept` due to privacy reasons, but in your case those don't apply as your IP addresses are not privacy sensitive).
Previously, we wouldn't read the certificate fingerprint from `transport-info` and thus will deny the certificate on DTLS handshake as it doesn't match the one we expect (none at this point). I updated Dino with 28248607f03bfd3e5fc6b29e0528edfd4f04a601 to also read the fingerprint from `transport-info` and this reliably solves issues with outgoing calls from Dino to Cheogram.

For calls started from my test SIP client to Dino, Audio is currently only going from SIP to Dino and not the other way round. Also the call is disconnected after 30 seconds - probably as there is some detection somewhere that no Audio is transported. I can see with Wireshark that DTLS handshake happens as planned and that Dino sends encrypted Audio as usual to the gateway.

> For calls started from my test SIP client to Dino, Audio is currently only going from SIP to Dino and not the other way round.

We have had some reports of this with Conversations as well.  From or to a SIP PSTN gateway (such as sip broker or JMP) we have not been able to reproduce, so possibly an end-to-end problem when doing peer-to-peer stuff.

Thanks for your hard work on this! I've tested on [Guix](https://guix.gnu.org) by updating our dino package to [Dino commit dbc6d87cb9c26a5858ccf7400a43cdd4f6f26971](https://github.com/dino/dino/commit/dbc6d87cb9c26a5858ccf7400a43cdd4f6f26971) and uncommenting [all the lines](https://git.savannah.gnu.org/cgit/guix.git/tree/gnu/packages/messaging.scm?id=854e38eeb7b007b6027364696615ec5eaa619c52#n1362) that say to uncomment for the next Dino version.

The good news: outgoing calls (calls initiated in dino to an @cheogram.com contact) seem to work great and connect reliably.

The less good news: incoming calls (calls that start on the phone network and dial my JMP number) work sometimes, but not reliably. Often they get stuck in this connecting state:

![dino-incoming](https://user-images.githubusercontent.com/11179924/153533682-376af151-388e-4395-9961-b0d3f2fcd932.png)

I haven't been able to determine a pattern for when it works and when it doesn't. I've tested [Snikket](https://f-droid.org/en/packages/org.snikket.android/) on a different computer on the same network and that connects reliably, so I don't think it's a networking problem.

A follow up to the problem with incomming calls. I still see the problem with the 0.3.0 now officially in Guix. I can also re-create it on a Debian 11 (bullseye) VM using Dino nightly from OBS. I suppose it could be an issue with my network/XMPP server?

I just had a sucessful Dino to Dino incomming call, so I don't think it is a problem with my network or XMPP server. I'm happy to gather more debugging info, but could use some pointers on what would be most useful.

I am on Dino 0.3.0 on NixOS. Outgoing calls from Dino to jmp/cheogram contacts get stuck "Ringing...". The other party receives the call and can answer but no audio is being exchanged between the clients. The only difference I see between calls to other contacts (which succeed) and these calls that fail in the logs are these 2 extra lines:
```
(dino:527252): ice-WARNING **: 09:30:50.835: dtls_srtp.vala:168: DTLS handshake timeouted
(dino:527252): ice-WARNING **: 09:30:50.836: dtls_srtp.vala:193: DTLS handshake failed: (unknown error code)
```

Same ice-WARNING here using flatpak-beta on fedora silverblue.

Initiating a call:
```
~]$ flatpak run im.dino.Dino 
Could not connect: No such file or directory

(dino:2): GStreamer-WARNING **: 19:11:51.447: ../gst/gstpad.c:4634:gst_pad_push_data:<encode-speex-3232283310_rtp_depay:src> Got data flow before segment event

(dino:2): GStreamer-WARNING **: 19:11:51.447: ../gst/gstpad.c:4373:gst_pad_chain_data_unchecked:<encode-speex-3232283310_speex_decode:sink> Got data flow before segment event

(dino:2): rtp-WARNING **: 19:11:51.524: codec_util.vala:298: avenc_g722 is not supported on this platform

(dino:2): rtp-WARNING **: 19:11:51.529: module.vala:75: No suitable encoder or decoder found for g722

(dino:2): ice-WARNING **: 19:12:12.269: dtls_srtp.vala:168: DTLS handshake timeouted

(dino:2): ice-WARNING **: 19:12:12.269: dtls_srtp.vala:193: DTLS handshake failed: (unknown error code)

```

I'm on Pop! 22.04. When initiating a call from Dino using a JMP.chat number I get the following messages, similar to those already described by others:

```(dino-im:194242): ice-WARNING **: 19:57:43.040: dtls_srtp.vala:168: DTLS handshake timeouted

(dino-im:194242): ice-WARNING **: 19:57:43.040: dtls_srtp.vala:193: DTLS handshake failed: (unknown error code)```

I don't know if this bug is a Dino bug, or a Jmp.Chat bug, but I've been following this bug ticket for awhile. I'm super interested in getting this resolved, as it's currently the only thing hampering me from daily driving my Pinephone Pro. If there is any level of debugging or help that I can provide, I'm happy to help. I'd even be willing to put up some money for fixing this on Bounty Source or some other site. Feel free to get in touch with me if I can help.

> I'm on Pop! 22.04. When initiating a call from Dino using a JMP.chat number I get the following messages, similar to those already described by others. The Dino client gets stuck on 'connecting' but never actually does. The receiving party picks up and appears to connect, but no audio is ever heard:
> 
> `(dino-im:194242): ice-WARNING **: 19:57:43.040: dtls_srtp.vala:168: DTLS handshake timeouted` `(dino-im:194242): ice-WARNING **: 19:57:43.040: dtls_srtp.vala:193: DTLS handshake failed: (unknown error code)`

An update regarding my post:
Recently, I tried calling from Dino desktop to one of my JMP numbers on Android (Cheogram) and it now DOES seem to go through. To make sure it wasn't a fluke, I've been testing it over the course of about a week now and it seems resolved.
However, the same issue I described still exists when calls come the other direction, meaning if someone calls me and I try answering on Dino desktop, it's essentially stuck "Connecting...". This doesn't matter if the call is from T-Mobile, JMP.chat, etc. The incoming calls never connect.

The errors showing on my terminal are:

///
(dino-im:80145): ice-WARNING **: 11:15:25.794: dtls_srtp.vala:168: DTLS handshake timeouted

(dino-im:80145): ice-WARNING **: 11:15:25.794: dtls_srtp.vala:193: DTLS handshake failed: (unknown error code)

///

@TriggerDingus You're correct that outgoing calls seem to work on the Desktop version of Dino, although incoming calls do not. However, on my Pinephone Pro running the latest Mobian install, calls don't work in either direction.

So, good news and bad news.  Good news I've created a set of patches that fix the inbound calling issues from JMP in Dino.  Bad news, the most serious issue was in GnuTLS not in Dino itself.  Patch up here https://gitlab.com/gnutls/gnutls/-/merge_requests/1753 package for debian stable with the patch applied here https://cheogram.com/debian/libgnutls30_3.7.9-2_amd64.deb

If you install that package your inbound calls in Dino should get must more stable, but you may still have occasional issues which #1456 will fix

Thanks to @mar-v-in we have also deployed a workaround that makes calls connect even with the buggy version of GnuTLS, so as of now if you're on latest Dino calls should be working with JMP.

I guess we can close here now.