Real Time Text?

I am a big fan of 'old talk' where I can see people typing as they type synchronously. I saw some mention of this feature, how to enable?

Was not (yet) merged. There's a branch... 

I am the deaf author of XEP-0301, https://xmpp.org/extensions/xep-0301.html

Although I am tied up in other projects, I'm happy to answer questions.

I am the deaf author of XEP-0301, https://xmpp.org/extensions/xep-0301.html

There's a pull request at https://github.com/dino/dino/pull/895

Although I am tied up in other projects, I'm happy to answer questions.  Is it a matter of requiring a code reviewer?  cc: @zecamigo @pravi @Kobaxidze256 @ehmry 

BTW -- this is a feature that remains dormant, until enabled.  So it's only there when users want it.

Counter-crosspost from #895, since I added so much info:

> I am the deaf author of XEP-0301, https://xmpp.org/extensions/xep-0301.html
> 
> Is there a reason why this pull request is not merged?  
> 
> If reason is waiting for "Final Status" instead of "Stable" and is concerned, as primary Author of this XMPP specification, I can confirm that was darn near-Final and was suddenly stalled only because Google killed the momentum of the XEP-0301 team by discontinuing XMPP support which is why a major amount of momentum got lost to a push to Final, killing Google Talk's compatibility with XEP-0301.   Also, there was one time where Facebook Messenger used to support XMPP, but then it got discontinued.  Once all the majors discontinued XMPP support, a lot of momentum got lost.
> 
> **That's the very sad story.**  
> 
> But you can help out by code-reviewing this and accepting this pull request. Muchly appreciated.  If you need to test for interoperability, try Lance Stout (@legastero) very actively maintained XEP-0301 implementations with recent commits:
> 
> ## Actively Maintained Implementations Of XEP-0301
> 
> * Stanza https://github.com/legastero/stanza
> * Stanza Demo https://github.com/legastero/stanza-demo
> * StanzaJS at https://github.com/legastero/stanza 
> ... XEP-0301 unit tests at https://github.com/legastero/stanza/tree/master/test/protocol-cases/xep0301
> * xmpp-rs, a Rust-based XMPP library https://gitlab.com/xmpp-rs/xmpp-rs
> ... Documentation at https://docs.rs/xmpp-parsers/latest/xmpp_parsers/rtt/index.html
> * XMPP.rocks also supports it https://sco0ter.github.io/babbler/
> ... Documentation at https://sco0ter.github.io/babbler/xep/rtt.html
> 
> ## Older Implementations of XEP-0301:
> 
> * Plugin for [Strophe.js](https://github.com/strophe/strophejs) by @cvogler at https://github.com/cvogler/trophyjs
> * There is a helper library example at https://github.com/legastero/realtime-text
> * Very old RealJabber implementation at www.realjabber.org (Better use the above more recent stuff)
> * @cvogler's very early web demo at https://tap.gallaudet.edu/rtt/rttclient.html 
> ... open in two windows or two devices (log onto rtt1@tap on one, and rtt2@tap on another, play with it).
> 
> BTW, crosspost from my comment in #1329:
> 
> > Although I am tied up in other projects, I'm happy to answer questions.  Is it a matter of requiring a code reviewer?  cc: @zecamigo @pravi @Kobaxidze256 @ehmry 
> > 
> > BTW -- this is a feature that remains dormant, until enabled.  So it's only there when users want it.  Make sure you at least read the first paragraph of the XEP-0301 specification to understand the purpose of Real Time Text.  
> > 
> > > **1. Introduction**
> > > This document defines a specification for real-time text transmitted in-band over an XMPP network.
> > > 
> > > Real-time text is text transmitted instantly while it is being typed or created. The recipient can immediately read the sender's text as it is written, without waiting. It allows text to be used as conversationally as a telephone conversation, including in situations where speech is not practical (e.g., environments that must be quiet, environments too noisy to hear, restrictions on phone use, situations where speaking is a privacy or security concern, and/or when participant(s) are deaf or hard of hearing). It is also used for transmission of live speech transcription.
> > 
> > For example, it is now being used in production environments in other XMPP software where a chatbot is providing a live closed captioning -- a transcription stream from an audio source, acting as Live Closed Captioning spewing out streamed text one word at a time.   
> >
> > *Note: Just because one sender has turned on real time text (XEP-0301 = ON), that doesn't necessarily mean recipient end automatically turns on real-time text - this can be a configurable setting that force-requires clients on both ends to turn on XEP-0301 before it works, if you are a software developer who hate real time text.  **_But please understand the needs of us deaf people who both sides intentionally enable it._**  Also, clients can also technically be configured by default to refuse requests to turn on real-time-text, or to ignore real-time-text data (only displaying when message is complete).  XEP-0301 is pretty flexible on how software developers decides to implement real time text, and keeping it off by default in clients.   But the feature should at least exist/be there.  I would appreciate comments on the quality of this pull request*
> 
> Paging Lance Stout @legastero (StanzaJS) who (just before the pandemic) volunteered to help me push XEP-0301 to Final just weeks before the pandemic started.  Once that happened, all hell broke loose.  
> 
> I'd honestly like to reboot the "Final Status" checkbox, if not for much than an indie Bucket List rather than old Google Talk hopes.  That being said, consider that XEP-0045 MUC is at the same status ("Stable") as XEP-0301.  My XEP-0301 ally Lance Stout, both confirm that this standard has been very reliable and stable within the Stanza-derived implementations and interoperability between multiple implementations was already verified.   
> 
> With over a thousand man-hours put into XEP-0301, intentionally for the Google Talk gorilla before they pulled the rug out under us, Version 1.0 of XEP-0301 was already ***extremely*** well-designed and co-author of XEP-0301 Gunnar Hellstrom (RFC 4103, RFC 5194, RFC 8865, RFC 9071) is an active IETF RFC author as seen by his name in RFC documents too.
> 
> Based on my word, please consider code-reviewing and accepting this pull request.  Thanks!

@mdrejhon I'm not a maintainer or contributor and I don't think this is the right place to file issues or submit merge requests for Dino.

@mdrejhon XEP-0301 not being in the final state is not an issue for us. We are aware of the design of XEP-0301 and we have reviewed #895. The feature needs more work from our side and is not highest priority, but we generally plan to merge it. We plan on supporting full stanza encryption in the near future, which will among others allow us to encrypt RTT data.

Appreciate it.  Just wanted to provide additional assistance -- including interoperability tests -- and my ability to answer questions;